// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-avatar img {
    height: 60px !important;
    width: 60px !important;
  }
  .counts {
    background: #8cc541;
  }
  .toolbar .item {
    background-color: transparent;
  }
  .toolbar .label {
    color: #FFFFFF;
  }
  #menuProfile.item .label {
    h2,
    h5 {
      color: #FFFFFF;
    }
  }
  .toolbar .item h2 {
    font-size: 1.9rem;
    font-weight: 300;
    color: #FFFFFF;
  }
  .toolbar .item h5 {
    font-size: 1.2rem;
    font-weight: 200;
    color: #FFFFFF;
  }
  ion-list#menulist .item .item-inner .label {
    margin: 5px 3px 5px 0px;
  }
  #menulist.list .item .item-inner,
  #menutoolbar.toolbar .item .item-inner {
    border-bottom: 0px;
  }
  .menu-inner .item-divider {
    height: 1px;
    min-height: 1px;
    background-color: #ccc;
  }
  .item.divider {
    border-bottom: 1px solid #dedede;
  }
  .item .icon {
    color: #787878;
  }
